---
import { Image } from 'astro:assets'
import Nav from './Nav.tsx'
import line from 'imgs/mobline.png'
import shadow from 'imgs/Header.svg'
import { getInfoFromImg } from '@/hooks'

export interface ImageStrapi {
 data: {
  attributes: {
   url:  string 
   alternativeText?: string
  }
 }
}
export interface HeaderInfo {
 logo: ImageStrapi
 links: {texto: string, link: string}[]
 linksSociales: {link: string, icono: ImageStrapi}[]
 logoMobil?: ImageStrapi
 botonHamburguesa: ImageStrapi
 xBtn: ImageStrapi
}

interface Props {
  info: HeaderInfo
}


const {info: headerInfo} = Astro.props

const logoInfo = getInfoFromImg(headerInfo.logo)
const {url} = Astro
const path = url.pathname
const {links, linksSociales, logoMobil, botonHamburguesa, xBtn } = headerInfo

const mobilLogo = logoMobil ? getInfoFromImg(logoMobil) : null
const burguer = getInfoFromImg(botonHamburguesa)
const x = getInfoFromImg(xBtn)
---

<header class="bg-grisOscuro w-full h-20 flex justify-end lg:justify-between px-2 lg:px-12 gap-12 py-4 z-10 fixed top-0 left-0">
  <a href="/"><Image class="mt-[-1rem] hidden lg:block min-w-28" inferSize format='webp' src={logoInfo.url} alt={logoInfo.alt ? logoInfo.alt : ''}></Image></a>
  <a href="/"><Image class="absolute top-0 left-0 h-full lg:hidden min-w-24" inferSize format='webp' src={mobilLogo ? mobilLogo.url : logoInfo.url} alt={logoInfo.alt ? logoInfo.alt : ''}></Image></a>
  <Nav line={line.src} burguer={burguer} links={links} linksSociales={linksSociales} client:load path={path} x={x}  />
  <img src={shadow.src} alt='Sombra header' class='absolute top-full left-1/2 transform -translate-x-1/2 w-[60%]' />
</header>
